.content-button-img {
    /* background-color: blue; */
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.content-button-img img{
  width: 50%;
  height: auto;
}

.content-button-img button {
    margin-top: 2%;
    background-color: #D3D8F5;
    padding: 2%;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
    border: none;
    margin-bottom: 5%;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgb(192, 191, 191)
}

.conteiner-img {
    max-width: 100%;
    height: auto;
}



