.div-content-todo {
  /* background-color: brown; */
  width: 30%;
  margin-left: 20%;
}

.conteiner-loading {
  /* background-color: aquamarine; */
  display: inline-block;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.conteiner-first-todo {
  display: inline-block;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* margin-top: 30%; */
}

.conteiner-first-todo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px #d3d8f5;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.loaderMiniContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 130px;
  height: fit-content;
}
.barContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  background-position: left;
}
.bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    rgb(161, 94, 255),
    rgb(217, 190, 255),
    rgb(161, 94, 255)
  );
  background-size: 200% 100%;
  border-radius: 10px;
  animation: bar ease-in-out 3s infinite alternate-reverse;
}
@keyframes bar {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.bar2 {
  width: 50%;
}
.svgIcon {
  position: absolute;
  left: -25px;
  margin-top: 18px;
  z-index: 2;
  width: 70%;
  animation: search ease-in-out 3s infinite alternate-reverse;
}
@keyframes search {
  0% {
    transform: translateX(0%) rotate(70deg);
  }

  100% {
    transform: translateX(100px) rotate(10deg);
  }
}
.svgIcon circle,
line {
  stroke: rgb(162, 55, 255);
}
.svgIcon circle {
  fill: rgba(98, 65, 142, 0.238);
}


.ul-list {
  list-style: none;
  padding-left: 0;
  background-color: #d3d8f5;
  /* background-color: aqua; */
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(192, 191, 191);
  margin-top: 0;
}

.li-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: start;
}

.conteiner-span {
  /* background-color: blue; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}

.section-li {
  width: 100%;
  /* background-color: blueviolet; */
  display: inline-block;
  justify-content: start;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon-check--active {
  color: #4caf50;
}

.icon-completed {
  cursor: pointer;
}

.icon-completed:hover {
  color: #4caf50;
}

.Icon-delete:hover {
  color: red;
}

.Icon-delete {
  cursor: pointer;
}
