.div-content-header {
    width: 45%;
    padding: 25px;
    margin-top: 2%;
    border-radius: 20px;
    background-color: #D3D8F5;
    box-shadow: 5px 5px 10px rgb(145, 144, 144);
}

.conteiner-input-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span-todo {
    color: rgba(8, 8, 255, 0.936);
}

.todoS {
    font-family: "Montserrat", sans-serif;
    font-weight: 525;
    font-size: 20px;
}
